header{
    display: flex;
    justify-content: space-around;
    color:white;
    background-color: rgb(184, 75, 42);
    align-items: center;
    height: 13vh;
}


.cartDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    background-color: rgb(122, 20, 20);
    border-radius: 30px;
    padding-inline: 5px;
    width: 20vw;
    font-weight: bold;
}
button{
    display: flex;
    background-color: brown;
    border-radius: 12px;
    width: 40px;
    height: 30px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border: 0px;
    color: white;
    font-weight: bold;
}
i{
    margin-inline: 13px;
}
img{
    /* height: 25vh; */
    width: 100%; height: 25vh; overflow: hidden; position:relative
}